/*@import url("https://fonts.googleapis.com/css?family=Lato:300");*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&family=Open+Sans&family=Zilla+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-title {
  font-family: Montserrat;
  font-style: italic;
  font-size: 18px;
}

.navbar-font {
  font-family: Open Sans;
  letter-spacing: 1px;

}

.ms-auto
{
  margin-left: auto !important;
}

.white-text{
  color: whitesmoke;
}

.black-text{
  color: black;
}

.cardHighlight {
  min-height: 100%;
}

.color-nav

{
  background-color: #29bf12
}

.nav-margin {
  float: right;
}

.nav-hover:hover
{
  background-color: green;
}

.courseCard {
  background-color: #1f2421;
  color: white;
}

.no-padding{
  height: 100vh;
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}


/*For Highlights border*/
.block {
  position: relative;
  background: linear-gradient(0deg, #000, #272727);
}

.block:before, .block:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
    #0000ff, #00ff00,#ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.block:after {
  filter: blur(40px);
}

/*For Highlights border*/
.block-low {
  position: relative;
  background: linear-gradient(0deg, #000, #272727);
}

.block-low:before, .block-low:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
    #0000ff, #00ff00,#ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.block-low:after {
  filter: blur(5px);
}


/*For Highlights border END*/

/*Login page*/


.Auth-form-container {
  padding: 2rem;
  content: center;
  display:  center;
  justify-content: center;
  align-items: center;
}


.Auth-form-content {
  position: sticky;
}

.Auth-form-title {
  text-align: center;
  font-family: Montserrat;
  font-size: 3.5rem;
  color: #FFFFFF;
  font-weight: 800;
}

.text-form {
  margin-left: 3rem;
}

/*Button Animation for Submit button*/
.button-login {
  min-width: 200px;
  min-height: 60px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: white;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 60%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

  /*Card*/

  .detail-card{
    min-height: 350px;
  }

  .card-title {
    font-size: 50px;
  }

  .card-sub , .card-text {
    text-align: left !important;
  }

  .button-buy {
    margin-top: 200px;
    float: left !important;
  }

  .span-spacing {
    color:  black;
  }

 .align-product {
  display:  flex;
  align-items: center;
  justify-content: center;
 }

 /*for product column*/

 .card-group {
   display: flex;
   flex-direction: column;
 }

 .card {
  position: relative; 
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
}
  .card-body{
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

 .card1 {
   min-height: 100%;
 }

 .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
     width: 100%;
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto;
 }




